.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 600;
    font-style: normal;
  }



.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}